body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
div {
    padding: 10px;
}
nav {
    padding: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    nav ul li {
        display: inline-block;
    }

input {
    padding: 5px;
    border: 1px solid #E7E7E7;
}
input[type=text] {
    width: 300px;
}
fieldset {
    margin: 20px 0;
}
fieldset div {
    margin: 0.3em 0;
    clear: both;
}
label {
    text-align: right;
    float: left;
    width: 10em;
    margin-right: 1em;
    padding: 5px;
}
select {
    width: 300px;
    padding: 5px;
    border: 1px solid #E7E7E7;
}

.container {
    margin: 0 auto;
    width: 40%;
}
.error {
    border: red;
    background: red;
    padding: 20px 40px;
    color: white;
    font-size: 2.0em;
    font-weight: bolder;
}
.success {
    border: green;
    background: green;
    padding: 50px 100px;
    display: block;
    color: white;
    font-size: 4.0em;
    font-weight: bolder;
}
.dashed a {
    text-decoration: line-through;
}