body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
div {
    padding: 10px;
}
nav {
    padding: 8px;
    background-color: #000;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    nav ul li {
        display: inline-block;
    }
        nav ul li a {
            padding: 10px 20px;
            color: #FFF;
            text-decoration: none;
            border-left: 1px solid #FFF;
            border-right: 1px solid #FFF;
        }
        nav ul li a:hover {
            background: #444;
        }
        nav ul li a:visited {
            color: #FFF;
        }

table {
    margin: 0 auto;
    width: 100%;
}
td, th {
    border: 1px solid #000;
}
th {
    padding: 5px;
}
td {
    padding: 10px 0;
}
input {
    padding: 5px;
    border: 1px solid #E7E7E7;
}
input[type=text] {
    width: 300px;
}
fieldset {
    margin: 20px 0;
}
fieldset div {
    margin: 0.3em 0;
    clear: both;
}
label {
    text-align: right;
    float: left;
    width: 10em;
    margin-right: 1em;
    padding: 5px;
}
select {
    width: 300px;
    padding: 5px;
    border: 1px solid #E7E7E7;
}
.text-blue {
    color: rgb(168, 9, 9);
}
.container {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.error {
    border: red;
    background: red;
    padding: 20px 40px;
    color: white;
    font-size: 2.0em;
    font-weight: bolder;
}
.success {
    border: green;
    background: green;
    padding: 50px 100px;
    display: block;
    color: white;
    font-size: 4.0em;
    font-weight: bolder;
}
.dashed a {
    text-decoration: line-through;
}